/*==================== Contenu principal 4 pages html ====================*/
* {
  font-family: 'karmaGeorgia, serif, sans-serif';
  margin: 0;
  padding: 0; }

header {
  display: flex;
  justify-content: space-around;
  background-color: #f3e9f1; }
  header img {
    border-radius: 8px; }
  header nav {
    margin-top: 50px; }
    header nav .icon {
      display: flex;
      list-style-type: none;
      font-size: 25px; }
      header nav .icon__description {
        display: flex;
        padding: 0 15px 0 15px; }
        header nav .icon__description i {
          margin-left: 10px; }

a {
  text-decoration: none;
  color: black; }

main h1, main p, main h2 {
  padding: 20px;
  display: flex;
  justify-content: center; }

footer {
  display: flex;
  justify-content: space-around;
  padding: 2%;
  background-color: #f3e9f1;
  width: 100%;
  height: auto; }

/*==================== Page index ====================*/
/*---------- Articles ----------*/
.item {
  width: 45%;
  margin: auto;
  padding-bottom: 40px;
  margin-bottom: 40px;
  background: linear-gradient(to bottom right, #ca7b4dd2, #915cf3ce, #5c78f3ce);
  border-radius: 5px;
  box-shadow: 0px 0px 25px 0px #000000;
  list-style: none; }
  .item .row {
    display: flex;
    justify-content: center; }

/*==================== Page produit ====================*/
/*---------- Articles ----------*/
#item__details {
  width: 45%;
  margin: auto;
  background: linear-gradient(to bottom right, #ca7b4dd2, #915cf3ce, #5c78f3ce);
  padding-bottom: 40px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 25px 0px #000000; }
  #item__details h3 {
    background-color: #f3e9f1;
    margin: 10px 315px 10px 315px;
    border-radius: 10px;
    padding: 10px; }

/*==================== Page panier ====================*/
#item__select {
  width: 45%;
  margin: auto;
  background: linear-gradient(to bottom right, #ca7b4dd2, #915cf3ce, #5c78f3ce);
  padding-bottom: 40px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 25px 0px #000000; }

.details__form {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto 0 auto;
  padding-bottom: 80px;
  text-align: center;
  background: linear-gradient(to top right, #ca7b4dd2, #915cf3ce);
  color: #ffffff;
  box-shadow: 0px 0px 12px 2px #c4c5c5;
  border-radius: 10px; }

table {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  table thead {
    margin-left: 30px; }
    table thead tr {
      margin-left: 30px; }

/*----------Responsive-Menu-1024px----------*/
/*----------Responsive-Menu-800px----------*/
/*----------Responsive-Menu-745px----------*/
/*----------Responsive-Menu-450px----------*/
